[user]
	email = lukasz-waclawek@wp.pl
	name = lukwac123
	signingkey = ~/.ssh/id_ed25519.pub
[color]
	status = auto
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = auto
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
[commit]
	gpgSign = true
[gpg]
	format = ssh
